In [61]:
import numpy as np
import pandas as pd
from faker import Faker
import pymysql

In [3]:
fake = Faker()

In [13]:
# print(f'name:{faker.name()}')name = []
name = []
name_count = 5

for i in range(name_count):
    i = fake.name()
    name.append(i)
    
    
    
email = []
email_count = 5

for i2 in range(email_count):
    i2 = fake.email()
    email.append(i2)
    

            
password = []
password_count = 5

for i3 in range(password_count):
    i3 = fake.password()
    password.append(i3)

In [14]:
print(name)

['Melissa Norman', 'Tonya Perez', 'Penny Payne', 'Sherry Johnson', 'Breanna Hernandez']

In [15]:
print(email)

['darlenelong@example.net', 'julia81@example.com', 'john23@example.org', 'kjohnson@example.net', 'tiffany77@example.net']

In [16]:
print(password)

['9v&#V^nj#x', '8)37IpKfst', '@ft_rAyA8I', '5ouTczF@_@', 'i_1O2nns)L']

In [ ]:
# =============================================================================================

In [33]:
 conn = pymysql.connect(host='localhost', user='root', passwd='sam245', database='dummy_data')

In [34]:
cur = conn.cursor()

In [35]:
cur.execute('show tables;')
print(cur.fetchall())

(('transaction',), ('transaction_detail',), ('users',))

In [36]:
cur.execute('select * from transaction;')
transaction = (cur.fetchall())
# print(transaction)

In [37]:
cur.execute('select * from transaction_detail;')
transaction_detail = (cur.fetchall())
# print(transaction_detail)

In [38]:
cur.execute('select * from users;')
users = (cur.fetchall())
# print(users)

In [65]:
import os

os.getcwd()

'C:\\Users\\HP'

In [59]:
user_id= int(input('Enter the user_id: '))

transaction_date = input('Enter date:')

total_amount = int(input('Enter the total_amount:')) 

cur.execute(f"insert into transaction(User_id,transaction_date,Total_amount) values({user_id},'{transaction_date}',{total_amount})");

Enter the user_id:  105
Enter date: june
Enter the total_amount: 6000

In [62]:
cur.execute('select * from transaction;')
transaction = (cur.fetchall())
print(transaction)

((1, 101, 'january', 10000), (2, 101, 'january', 10000), (3, 102, 'april', 5000), (4, 103, 'march', 8000), (5, 104, 'may', 13000), (6, 105, 'june', 6000))

In [ ]:
# https://drive.google.com/file/d/1McV9RnNJ-D2PcLuMs2ecQOwFKw-a7z8R/view?usp=share_link